* {
  box-sizing: border-box;
  color: #464646;
  line-height: 1.56;
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}

html {
  background-image: linear-gradient(to bottom, #88acd0 50%, #9c90d4, #9f51cc, #9c5dc0);
  font-family: "Space Grotesk", sans-serif;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: #9c5dc0;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #88acd0 50%, #9c90d4, #9f51cc, #9c5dc0);
}

@keyframes txt-gdt {
  to {
    background-position: 100%;
  }
}
.header {
  background-color: #9c5dc0;
  display: flex;
  padding: 0.3rem 0;
  position: relative;
}
@media (min-width: 64em) {
  .header {
    flex-direction: row;
  }
}
.header .header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 69.375rem;
  width: calc(100% - 2rem);
}
@media (min-width: 43.75em) {
  .header .header__wrapper {
    width: calc(100% - 3.75rem);
  }
}
.header .header__wrapper .header__link--logo {
  background-image: url(../../assets/images/icons/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 35px;
  width: 35px;
}
@media (min-width: 43.75em) {
  .header .header__wrapper .header__link--logo {
    font-size: 2rem;
    height: 50px;
    width: 50px;
  }
}
.header .header__wrapper .header__link--logo .visually-hidden {
  height: 1px;
  left: -100000px;
  position: absolute;
  overflow: hidden;
  top: auto;
  width: 1px;
}
.header .header__wrapper .header__link {
  display: flex;
  gap: 1.5rem;
}
@media (min-width: 64em) {
  .header .header__wrapper .header__link {
    gap: 4rem;
  }
}
.header .header__wrapper .header__link .header__link--social {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 100ms ease-in-out;
}
.header .header__wrapper .header__link .header__link--social:hover {
  transform: scale(1.3);
}
@media (min-width: 64em) {
  .header .header__wrapper .header__link .header__link--social:hover {
    transform: scale(1.5);
  }
}
.header .header__wrapper .header__link .header__link--social:hover > svg > path {
  fill: #eb6743;
}
@media (min-width: 43.75em) {
  .header .header__wrapper .header__link .header__link--social {
    font-size: 2rem;
  }
}
.header .header__wrapper .header__menu--kebab .menu__kebab {
  display: none;
}
.header .header__wrapper .header__menu--kebab .menu__kebab:checked ~ .header__nav {
  display: block;
}
.header .header__wrapper .header__menu--kebab .menu__kebab--label {
  display: flex;
  justify-content: center;
}
.header .header__wrapper .header__menu--kebab .menu__kebab--label .menu_icon {
  background-image: url(../../assets/images/icons/menu-kebab.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (min-width: 64em) {
  .header .header__wrapper .header__menu--kebab .menu__kebab--label .menu_icon {
    display: none;
  }
}
.header .header__wrapper .header__menu--kebab .header__nav {
  background-color: #9c5dc0;
  display: none;
  position: absolute;
  right: 0%;
  text-align: end;
  top: 100%;
  width: 100%;
  z-index: 2;
}
@media (min-width: 64em) {
  .header .header__wrapper .header__menu--kebab .header__nav {
    display: block;
    position: relative;
  }
}
@media (min-width: 64em) {
  .header .header__wrapper .header__menu--kebab .header__nav .header__list {
    display: flex;
  }
}
.header .header__wrapper .header__menu--kebab .header__nav .header__list .header__list--item {
  padding: 0.4rem 2rem;
}
@media (min-width: 64em) {
  .header .header__wrapper .header__menu--kebab .header__nav .header__list .header__list--item {
    padding: 0.4rem 1rem;
  }
}
.header .header__wrapper .header__menu--kebab .header__nav .header__list .header__list--item .header__list--link {
  color: #88acd0;
  transition: 100ms ease-in-out;
}
@media (min-width: 43.75em) {
  .header .header__wrapper .header__menu--kebab .header__nav .header__list .header__list--item .header__list--link {
    font-size: 1.37rem;
  }
}
.header .header__wrapper .header__menu--kebab .header__nav .header__list .header__list--item .header__list--link:hover {
  animation: txt-gdt 5s alternate-reverse;
  background-clip: text;
  background-image: linear-gradient(to right, #ee9f55, #eb6743);
  background-position: -200%;
  background-size: 300%;
  color: transparent;
  -webkit-background-clip: text;
}

.hero {
  background-image: linear-gradient(to bottom, #9c5dc0, #ad82d4, #88acd0);
  height: 100vh;
  width: 100vw;
}
.hero .hero__img--lx {
  display: none;
}
@media (min-width: 43.75em) {
  .hero .hero__img--lx {
    display: block;
    height: 100%;
    width: 100vw;
    margin-inline: auto;
    max-width: 69.375rem;
    width: calc(100% - 2rem);
  }
}
@media (min-width: 43.75em) and (min-width: 43.75em) {
  .hero .hero__img--lx {
    width: calc(100% - 3.75rem);
  }
}
.hero .hero__content {
  margin: 2rem;
  padding: 2rem;
  position: absolute;
  text-align: center;
  z-index: 1;
}
@media (min-width: 43.75em) {
  .hero .hero__content {
    left: 58%;
    max-width: 28rem;
    top: 12%;
  }
}
.hero .hero__content .hero__content--title {
  font-size: 1.45rem;
  margin-inline: auto;
  max-width: 69.375rem;
  width: calc(100% - 2rem);
}
@media (min-width: 43.75em) {
  .hero .hero__content .hero__content--title {
    width: calc(100% - 3.75rem);
  }
}
@media (min-width: 43.75em) {
  .hero .hero__content .hero__content--title {
    font-size: 1.6rem;
  }
}
@media (min-width: 64em) {
  .hero .hero__content .hero__content--title {
    font-size: 1.75rem;
  }
}
.hero .hero__content .hero__content--title span {
  -webkit-text-decoration: 2px underline #eb6743;
          text-decoration: 2px underline #eb6743;
  text-underline-offset: 0.5rem;
}
@media (min-width: 43.75em) {
  .hero .hero__content .hero__content--title span {
    -webkit-text-decoration: 3px underline #eb6743;
            text-decoration: 3px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
@media (min-width: 64em) {
  .hero .hero__content .hero__content--title span {
    -webkit-text-decoration: 4px underline #eb6743;
            text-decoration: 4px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
.hero .hero__content .hero__content--text {
  display: none;
}
@media (min-width: 64em) {
  .hero .hero__content .hero__content--text {
    display: block;
    font-size: 1.25rem;
    padding-top: 0.6rem;
  }
}
.hero .hero__img--sm {
  height: 100%;
  width: 100vw;
}
@media (min-width: 43.75em) {
  .hero .hero__img--sm {
    display: none;
  }
}

.about {
  border-bottom: 2px solid #eb6743;
  padding: 2rem 0;
  margin-inline: auto;
  max-width: 69.375rem;
  width: calc(100% - 2rem);
}
@media (min-width: 43.75em) {
  .about {
    width: calc(100% - 3.75rem);
  }
}
.about .about__title {
  color: #1f634b;
  font-size: 1.45rem;
  padding-bottom: 2rem;
  text-align: center;
  -webkit-text-decoration: 2px underline #eb6743;
          text-decoration: 2px underline #eb6743;
  text-underline-offset: 0.5rem;
}
@media (min-width: 43.75em) {
  .about .about__title {
    font-size: 1.6rem;
    -webkit-text-decoration: 3px underline #eb6743;
            text-decoration: 3px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
@media (min-width: 64em) {
  .about .about__title {
    font-size: 1.75rem;
    -webkit-text-decoration: 4px underline #eb6743;
            text-decoration: 4px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
.about .about__content {
  text-align: center;
}
@media (min-width: 43.75em) {
  .about .about__content {
    align-items: center;
    display: flex;
  }
}
.about .about__content .about__img {
  margin: auto;
  padding-bottom: 2rem;
  width: 80vw;
}
@media (min-width: 43.75em) {
  .about .about__content .about__img {
    width: 35vw;
  }
}
.about .about__content .about__desc .about__desc--text {
  font-size: 1.125rem;
  padding: 0 2.5rem 1rem;
}
@media (min-width: 64em) {
  .about .about__content .about__desc .about__desc--text {
    font-size: 1.37rem;
  }
  .about .about__content .about__desc .about__desc--text span {
    display: none;
  }
}
.about .about__content .about__desc .about__desc--link {
  transition: 100ms ease-in-out;
  font-size: 1.125rem;
  -webkit-text-decoration: 2px underline #eb6743;
          text-decoration: 2px underline #eb6743;
  text-underline-offset: 0.5rem;
}
@media (min-width: 43.75em) {
  .about .about__content .about__desc .about__desc--link {
    -webkit-text-decoration: 3px underline #eb6743;
            text-decoration: 3px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
@media (min-width: 64em) {
  .about .about__content .about__desc .about__desc--link {
    font-size: 1.37rem;
    -webkit-text-decoration: 4px underline #eb6743;
            text-decoration: 4px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
.about .about__content .about__desc .about__desc--link:hover {
  color: #eb6743;
}

.skills {
  border-bottom: 2px solid #eb6743;
  padding: 2rem 0;
  margin-inline: auto;
  max-width: 69.375rem;
  width: calc(100% - 2rem);
}
@media (min-width: 43.75em) {
  .skills {
    width: calc(100% - 3.75rem);
  }
}
.skills .skills__title {
  color: #1f634b;
  font-size: 1.45rem;
  padding-bottom: 2rem;
  text-align: center;
  -webkit-text-decoration: 2px underline #eb6743;
          text-decoration: 2px underline #eb6743;
  text-underline-offset: 0.5rem;
}
@media (min-width: 43.75em) {
  .skills .skills__title {
    font-size: 1.6rem;
    -webkit-text-decoration: 3px underline #eb6743;
            text-decoration: 3px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
@media (min-width: 64em) {
  .skills .skills__title {
    font-size: 1.75rem;
    -webkit-text-decoration: 4px underline #eb6743;
            text-decoration: 4px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
@media (min-width: 43.75em) {
  .skills .skills__content {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .skills .skills__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.skills .skills__content .skills__items {
  text-align: center;
  padding: 0 2rem 1.5rem;
}
.skills .skills__content .skills__items .skills__items--title {
  color: #1f634b;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 43.75em) {
  .skills .skills__content .skills__items .skills__items--title {
    font-size: 1.37rem;
  }
}
@media (min-width: 64em) {
  .skills .skills__content .skills__items .skills__items--title {
    font-size: 1.5rem;
  }
}
.skills .skills__content .skills__items .skills__items--text {
  font-size: 1.125rem;
  line-height: 1.2;
}
@media (min-width: 64em) {
  .skills .skills__content .skills__items .skills__items--text {
    font-size: 1.37rem;
  }
}

.projects {
  border-bottom: 2px solid #eb6743;
  padding: 2rem 0;
  margin-inline: auto;
  max-width: 69.375rem;
  width: calc(100% - 2rem);
}
@media (min-width: 43.75em) {
  .projects {
    width: calc(100% - 3.75rem);
  }
}
.projects .projects__title {
  color: #1f634b;
  font-size: 1.45rem;
  padding-bottom: 2rem;
  text-align: center;
  -webkit-text-decoration: 2px underline #eb6743;
          text-decoration: 2px underline #eb6743;
  text-underline-offset: 0.5rem;
}
@media (min-width: 43.75em) {
  .projects .projects__title {
    font-size: 1.6rem;
    -webkit-text-decoration: 3px underline #eb6743;
            text-decoration: 3px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
@media (min-width: 64em) {
  .projects .projects__title {
    font-size: 1.75rem;
    -webkit-text-decoration: 4px underline #eb6743;
            text-decoration: 4px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
.projects .projects__grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 43.75em) {
  .projects .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.projects .projects__grid .projects__grid--item {
  display: flex;
  flex-direction: column;
}
.projects .projects__grid .projects__grid--item .projects__item--img {
  height: 100%;
  padding-bottom: 1rem;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 90%;
}
.projects .projects__grid .projects__grid--item .projects__item--img:hover {
  cursor: pointer;
}
.projects .projects__grid .projects__grid--item .projects__item--title {
  font-size: 1.125rem;
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 64em) {
  .projects .projects__grid .projects__grid--item .projects__item--title {
    font-size: 1.37rem;
  }
}
.projects .projects__grid .projects__grid--item .projects__item--tags {
  display: flex;
  padding-top: 0.5rem;
  margin: 0 auto;
  width: 90%;
}
.projects .projects__grid .projects__grid--item .projects__item--tags .projects__tags--stack {
  font-size: 1.125rem;
  padding-right: 0.6rem;
}
@media (min-width: 64em) {
  .projects .projects__grid .projects__grid--item .projects__item--tags .projects__tags--stack {
    font-size: 1.37rem;
  }
}
.projects .projects__grid .projects__grid--item .projects__item--info {
  font-size: 1.125rem;
  padding: 1rem 0 1.5rem;
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 64em) {
  .projects .projects__grid .projects__grid--item .projects__item--info {
    font-size: 1.37rem;
  }
}
.projects .projects__grid .projects__grid--item .projects__item--info .projects__item--link {
  font-size: 1.125rem;
  margin-right: 1.5rem;
  transition: 100ms ease-in-out;
  -webkit-text-decoration: 2px underline #eb6743;
          text-decoration: 2px underline #eb6743;
  text-underline-offset: 0.5rem;
}
.projects .projects__grid .projects__grid--item .projects__item--info .projects__item--link:hover {
  color: #eb6743;
}
@media (min-width: 64em) {
  .projects .projects__grid .projects__grid--item .projects__item--info .projects__item--link {
    font-size: 1.37rem;
  }
}

.contact {
  padding: 2rem 0;
}
.contact .contact__wrapper {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 69.375rem;
  width: calc(100% - 2rem);
}
@media (min-width: 43.75em) {
  .contact .contact__wrapper {
    width: calc(100% - 3.75rem);
  }
}
@media (min-width: 64em) {
  .contact .contact__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.contact .contact__wrapper .contact__info {
  text-align: center;
}
.contact .contact__wrapper .contact__info .contact__title {
  color: #1f634b;
  font-size: 1.45rem;
  padding-bottom: 2rem;
  text-align: center;
  -webkit-text-decoration: 2px underline #eb6743;
          text-decoration: 2px underline #eb6743;
  text-underline-offset: 0.5rem;
}
@media (min-width: 43.75em) {
  .contact .contact__wrapper .contact__info .contact__title {
    font-size: 1.6rem;
    -webkit-text-decoration: 3px underline #eb6743;
            text-decoration: 3px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
@media (min-width: 64em) {
  .contact .contact__wrapper .contact__info .contact__title {
    font-size: 1.75rem;
    -webkit-text-decoration: 4px underline #eb6743;
            text-decoration: 4px underline #eb6743;
    text-underline-offset: 0.5rem;
  }
}
.contact .contact__wrapper .contact__info .contact__text {
  font-size: 1.125rem;
  margin-inline: auto;
  max-width: 27.8rem;
}
@media (min-width: 64em) {
  .contact .contact__wrapper .contact__info .contact__text {
    font-size: 1.37rem;
  }
}
.contact .contact__wrapper .contact__form {
  padding: 1rem 0.5rem;
  max-width: 27.8rem;
  margin-inline: auto;
}
.contact .contact__wrapper .contact__form .contact__control input, .contact .contact__wrapper .contact__form .contact__control textarea {
  line-height: 1.625;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  width: 100%;
  color: #464646;
  background: transparent;
  border: none;
  border-bottom: 1.8px solid #eb6743;
  font-family: "Space Grotesk", sans-serif;
  padding: 0.5rem;
}
.contact .contact__wrapper .contact__form .contact__control input::-moz-placeholder, .contact .contact__wrapper .contact__form .contact__control textarea::-moz-placeholder {
  color: #000000;
}
.contact .contact__wrapper .contact__form .contact__control input::placeholder, .contact .contact__wrapper .contact__form .contact__control textarea::placeholder {
  color: #000000;
}
.contact .contact__wrapper .contact__form .contact__control input {
  font-size: 1rem;
}
.contact .contact__wrapper .contact__form .contact__control .visually-hidden {
  height: 1px;
  left: -100000px;
  position: absolute;
  overflow: hidden;
  top: auto;
  width: 1px;
}
.contact .contact__wrapper .contact__form .contact__control .contact__btn {
  cursor: pointer;
  text-transform: uppercase;
  transition: 100ms ease-in-out;
  color: #464646;
  background: transparent;
  border: none;
  border-bottom: 1.8px solid #eb6743;
  font-family: "Space Grotesk", sans-serif;
  padding: 0.5rem;
}
.contact .contact__wrapper .contact__form .contact__control .contact__btn:hover {
  color: #eb6743;
}
.contact .contact__wrapper .contact__form .right {
  display: flex;
  justify-content: end;
}

.footer {
  background-color: #9c5dc0;
  padding: 1rem 2rem;
}
.footer .footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: center;
  text-align: center;
  margin-inline: auto;
  max-width: 69.375rem;
  width: calc(100% - 2rem);
}
@media (min-width: 43.75em) {
  .footer .footer__wrapper {
    width: calc(100% - 3.75rem);
  }
}
@media (min-width: 43.75em) {
  .footer .footer__wrapper {
    justify-content: space-between;
  }
}
.footer .footer__wrapper .footer__link {
  display: flex;
  gap: 1.6rem;
}
@media (min-width: 43.75em) {
  .footer .footer__wrapper .footer__link {
    gap: 2rem;
  }
}
.footer .footer__wrapper .footer__link .footer__link--social {
  transition: 100ms ease-in-out;
}
.footer .footer__wrapper .footer__link .footer__link--social:hover {
  transform: scale(1.3);
}
@media (min-width: 64em) {
  .footer .footer__wrapper .footer__link .footer__link--social:hover {
    transform: scale(1.5);
  }
}
.footer .footer__wrapper .footer__link .footer__link--social:hover > svg > path {
  fill: #eb6743;
}
@media (min-width: 43.75em) {
  .footer .footer__wrapper .footer__link .footer__link--social {
    font-size: 2rem;
  }
}
.footer .footer__wrapper .footer__text {
  color: #88acd0;
  font-size: 1.125rem;
  transition: 100ms ease-in-out;
}
@media (min-width: 43.75em) {
  .footer .footer__wrapper .footer__text {
    align-self: center;
  }
}
@media (min-width: 64em) {
  .footer .footer__wrapper .footer__text {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=style.css.map */