@import '../abstract/variables';

.hero {
  background-image: linear-gradient(to bottom, #9c5dc0,#ad82d4, #88acd0);
  height: 100vh;
  width: 100vw;
  .hero__img--lx {
    display: none;
    @include tablet {
      display: block;
      height: 100%;
      width: 100vw;
      @include wrapper; 
    }
  }
  .hero__content {
    padding: 2rem;
    position: absolute;
    text-align: center;
    z-index: 1;
    @include tablet {
      left: 58%;
      max-width: 28rem;
      top: 25%;
    }
    .hero__content--title {
      font-size: $title-mobile;
      @include wrapper;
      @include tablet{
        font-size: $title-tablet;
      }
      @include desktop{
        font-size: $title-desktop;
      }
      & span {
        @include border-bottom;
        @include tablet {
          @include border-bottom-tablet;
        }
        @include desktop {
          @include border-bottom-desktop;
        }
      }
    }
    .hero__content--text {  
      display: none;
      @include desktop {
        display: block;
        font-size: $font-size-20;
      }
    }
  }
  .hero__img--sm {
    height: 100%;
    width: 100vw;
    @include tablet {
      display: none;
    }
  }
}